*
{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.hash3 {
    color: rgba(65, 64, 64, 0.918);
    margin-left: 39px;
    margin-top: 32px;
}

button {
    border: none;
}

.button {
    border: 1px solid rgb(243, 169, 9);
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 193px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 30px;
}


body {
    background-color: rgba(12, 150, 214, 0.938);
}


.big-boss {
    border: 1px solid black;
    width: 410px;
    height: 420px;
    margin-left: 350px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.945);
}

.boss {
    margin-top: 57px;
}

 .hash2 {
    position: absolute;
    color: rgba(80, 79, 79, 0.753);
    margin: 0;
    margin-top: 16px;
    margin-left: 25px;
    font-size: 21px;
    margin-bottom: 5px;
}

.hash {
    position: absolute;
    color: rgba(80, 79, 79, 0.753);
    margin: 0;
    margin-top: 18px;
    margin-left: 260px;
    font-size: 20px;
    margin-bottom: 5px;
}

.opocity {
    opacity: 0.5;
}

.end {
    margin-left: 332px;
    margin-top: 25px;
}

.end-1 {
    margin-top: 25px;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    padding: 17px 40px 0px 19px;
    border-bottom: 1px solid #000;
    height: 323px;
    margin-top: -6px;
    height: 300px;
}


.second {
    border: 1px solid rgb(228, 157, 51);
    border-radius: 30px;
}

.second::before {
    content: "5";
    font-size: 13px;
    margin-top: -23px;
    margin-left: 29px;
    position: absolute;
    border: 1px solid rgb(228, 157, 51);
    background-color: rgb(228, 157, 51);
    border-radius: 30px;
    color: #fff;
    width: 12px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;    
}


.sixty {
    border: 1px solid rgb(228, 157, 51);
    border-radius: 30px;
}

.sixty::before {
    content: "6";
    font-size: 13px;
    margin-top: -23px;
    margin-left: 29px;
    position: absolute;
    border: 1px solid rgb(228, 157, 51);
    background-color: rgb(228, 157, 51);
    border-radius: 30px;
    color: #fff;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.box {
    position: absolute;
    width: 408px;
    height: 60px;
    border-bottom: 1px solid #000;
}

.calendar div {
    margin-top: -40px;
    font-size: 17px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seven {
    border: 1px solid rgb(228, 157, 51);
    border-radius: 30px;
    background-color: rgb(228, 157, 51);
    color: #fff;
}

button {
    position: absolute;
    border: 2px solid rgb(228, 157, 51);
    border-radius: 30px;
    margin-left: 182px;
    margin-top: 15px;
    background-color: #fff;
    width: 37px;
    height: 37px
}

