*
{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

.hash3 {
    color: rgba(65, 64, 64, 0.918);
    margin-left: 39px;
    margin-top: 32px;
}

.hashend {
    color: rgba(65, 64, 64, 0.918);
    margin-left: 226px;
    margin-top: 32px;
}

button {
    border: none;
}

.button {
    border: 1px solid rgb(243, 169, 9);
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 193px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 30px;
}


body {
    background-color: rgba(12, 150, 214, 0.938);
}


.big-boss {
    border: 1px solid black;
    width: 410px;
    height: 420px;
    margin-left: 350px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.945);
}

.boss {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 280px;
    margin-top: 57px;
}

.box {
    position: absolute;
    display: flex;
    margin-left: -380px;
    height: 47px;
    margin-top: -5px;
}

.box h3 {
    margin-left: 19px;
    font-size: 17px;
    height: 20px;
    color: rgba(0, 0, 0, 0.61);
}

h4 {
    color: rgba(65, 64, 64, 0.918);
    margin-left: 42px;
    height: 15px;
}

 .hash2 {
    position: absolute;
    color: rgba(80, 79, 79, 0.753);
    margin: 0;
    margin-top: 16px;
    margin-left: 25px;
    font-size: 21px;
    margin-bottom: 5px;
}

.hash {
    position: absolute;
    color: rgba(80, 79, 79, 0.753);
    margin: 0;
    margin-top: 18px;
    margin-left: 260px;
    font-size: 20px;
    margin-bottom: 5px;
}

.seven {
    border: 1px solid rgb(240, 170, 20);
    width: 25px;
    height: 25px;
    padding-top: 3px;
    padding-left: 7px;
    border-radius: 30px;
    background-color: rgb(240, 170, 20);
    color: #fff;
}

.num-2 {
    position: absolute;
    border: 1px solid rgb(240, 170, 20);
    width: 32px;
    margin-left: 324px;
    height: 32px;
    margin-top: 14px;
    padding-top: 6px;
    padding-left: 6px;
    border-radius: 30px;
}


.num-1 {
    position: absolute;
    border: 1px solid rgb(240, 170, 20);
    width: 32px;
    margin-left: 94px;
    height: 32px;
    margin-top: 13px;
    padding-top: 7px;
    padding-left: 6px;
    border-radius: 30px;
}

.num-0 {    
    border: 1px solid rgb(240, 170, 20);
    width: 12px;
    height: 12px;
    border-radius: 30px;
    margin-left: 57px;
    margin-top: 12px;
    background-color: rgb(240, 170, 20);
    color: #fff;
    font-size: 10px;
    padding-left: 2px;
    padding-bottom: 12px;
}


.num-01 {    
    border: 1px solid rgb(240, 170, 20);
    width: 12px;
    height: 12px;
    border-radius: 30px;
    margin-left: 57px;
    margin-top: 12px;
    background-color: rgb(240, 170, 20);
    color: #fff;
    font-size: 10px;
    padding-left: 2.8px;
    padding-bottom: 12px;
}


.num-3 {
    position: absolute;
    margin-left: 389px;
}


.bosser {
    margin-left: 380px;
    position: absolute;
}


.box-inner {
    position: absolute;
    display: flex;
    margin-left: -369px;
    margin-top: 28px;
    height: 45px;
}

.box-inner h4 {
    margin-right: 26px;
    margin-left: 18px;
}

.box-inner-2 {
    position: absolute;
    display: flex;
    margin-left: -391px;
    margin-top: 69px;
    height: 45px;
}


.box-inner-2 h4 {
    margin-left: 46px;
}


.box-inner-3 {
    position: absolute;
    display: flex;
    margin-left: -397px;
    margin-top: 117px;
    height: 45px;
}


.box-inner-4 {
    position: absolute;
    display: flex;
    margin-left: -397px;
    margin-top: 170px;
    height: 45px;
}


.box-inner-5 {
    position: absolute;
    display: flex;
    margin-left: -398px;
    margin-top: 218px;
    height: 45px;
}


.opo {
    opacity: 0.4;
}

.end {
    display: flex;
}